// Colors
$bg-color-primary: #edf0f2;
$color-primary: #e4003b;
$color-white: #ffffff;
$color-black: #000000;

// Font family
$font-primary: "Teko", system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-secondary: "TT Lakes", system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-tertiary: "Adevale", system-ui, Avenir, Helvetica, Arial, sans-serif;

// Fonts sizes
$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-base: 1rem; // 16px
$text-lg: 1.125rem; // 18px
$text-xl: 1.25rem; // 20px
