@font-face {
  font-family: "TT Lakes";
  src: url("../../assets/fonts/TT-Lakes/TT-Lakes-Regular/TT-Lakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adevale';
  src: url('../../assets/fonts/Adevale/adevale-regular-webfont.woff') format('woff2'),
       url('../../assets/fonts/Adevale/adevale-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
